* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	background-color: #F5F5F5;
}



.text {
	margin: 193px 126px;
}

h1 {
	height: auto;
	font-family: "Lato", sans-serif;
	font-size: 17px;
	font-weight: 100;
	font-style: normal;
	color: #3E8982;

}

h2 {
	font-family: "Forum", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;

	margin-top: 20px;
	margin-bottom: 20px;
}

.square {
	width: auto;
	height: 5px;
	border-top: 3px solid #3E8982;
	margin-bottom: 20px;
}

h4 {
	font-family: "Forum", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
}

p {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	font-weight: 100;
	font-style: normal;

	/* border: #000000 solid 1px; */
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	padding-left: 20px;
	margin-left: 120px;
}