*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
body{
    font-family: "Raleway", sans-serif;
}

/*Why this is awesome*/
.features {
   /* max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;*/
    text-align: center;
    /*font-weight: 400;*/
}
.heading {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 92px;
}
.heading__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 40px;
    /*width: 1170px;
    height: 45px;*/
}
.heading__line {
    height: 1px;
    width: 170px;
    background-color: #EC7979;
   margin: 40px auto;
}
.heading__text {
    font-size: 18px;
    color: #86878B;
    line-height: 21px;
    /* width: 1169px;
    height: 21px;*/
}
.features__box {
  display: flex;
    column-gap: 27px;
     justify-content: center;
    align-items: flex-start;
    /*position: relative;*/
}
.feature__wrapper{
        place-items: center;
}
.feature__wrapper-icon{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #EC7979;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature__wrapper-icon #Lamp {
    width: 65px;
    height: 65px;
}
.feature__wrapper-icon #keyboard {
    width: 66px;
    height: 46px;
}
.feature__wrapper-icon #lightning {
    width: 44px;
    height: 65px;
}
.feature__title {
    margin: 24px auto 30px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 26px;
}
.feature__text {
    font-size: 18px;
    line-height: 1.167;
    margin-bottom: 104px;
}

/*Pricing Options*/
.tariffs{
    background-color: #F5F5F5;
    padding:  82px 0px 83px;
    text-align: center;
     }
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px; 
}
.tariffs__title{
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
   font-weight: 400;
   margin-bottom: 40px;
}
.tariffs__line{
    height: 1px;
    width: 170px;
    background-color: #EC7979;
    margin: 0 auto 40px;
}
.tariffs__text{
    font-size: 18px;
    line-height: 21px;
    color: #86878B; 
    margin-bottom: 79px;
}
.tariffs__plans{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: flex-start;
    /* position: relative;
    border: 2px solid #F5F5F5;*/
}
.plan{
   max-width: 370px; 
   width: 100%;
}
.plan__name{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
   /* width: 370px; /*max-width ?
    height: 60px;*/
    padding: 11px 10px;
    color: #FFFFFF;
    background-color: #333333;
   border: 2px solid #F5F5F5;
}
.tariffs__amount{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    /*width: 370px; /*max-width ?
    height: 100px;*/
    padding: 27px 10px;
    color: #FFFFFF;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.plan__description{
    font-size: 18px;
    line-height: 22px;
   /* width: 370px; /*max-width ?*
    height: 50px;*/
    padding: 12px 10px; /*уменьшаем, чтобы попасть в размеры окна 370*100*/
    color: rgba(255, 255, 255, 50%);
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.plan__info{
    list-style-type: none;
    font-size: 18px;
    line-height: 22px;
    padding: 12px 10px; /*уменьшаем, чтобы попасть в размеры окна 370*50*/
    color: #86878B;
    background-color: #FFFFFF;
    border-width: 2px;
    text-transform:capitalize;
    border: 2px solid #F5F5F5;
}