*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
body{
    font-family: "Raleway", sans-serif;
}
/*--------------------------General classes----------------------*/
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px; 
}
/*-----------------------------------HEADER------------------------*/
.homepage{
    max-width: 1510px;
    margin: 0px auto;
}
.header{
    background-color: #000 ; 
    padding: 22px 0;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .header__logo{
    max-width: 87px;
    display: flex;
}
 .header__nav{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nav__link{
    color: #FFFFFF;
    font-family: 'Open Sans';
     font-size: 14px;
    font-weight: 600;
    line-height: 19px ;
    text-decoration: none;
}
.nav__link:hover{
    color: #bfbbbb;
 }
 .nav__link:active{
    font-weight: 800;
 }
/*---------------------------<!--BANNER-->---------------------*/
.banner{
  background-image: url(../img_hw5/image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.banner::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.container__banner{
    height: 1026px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}
.cutaway{
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 34px;
    font-family: "Open Sans", sans-serif;
}
/*LEFT CUTAWAY*/

.banner-promo__logo{
    max-width: 170px;
    margin-bottom: 73px;
}
.promo__logo{
    width: 100%;
}
.promo__title{
    max-width: 670px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 97px;
    position: relative;
}
.promo__title::after{
    content: '';
    display: block;
    width: 170px;
    border: 1px solid #fff;
    position: absolute;
    bottom: -55px;
    left: 0;
}
.promo__text{
    font-size: 18px;
    line-height: 21px;
    max-width: 270px;
    margin-bottom: 42px;
    color: #fff;
}
.button{
    width: 100%;
    max-width: 270px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1; 
    font-weight: 600;
    color: #fff;
    padding: 20px;
}
.button:hover{
    border: 2px solid #EC7979;
    color: #EC7979;
}
.button:active{
    color: #fff;
    background:  #ab4949;
}
/*RIGHT CUTAWAY*/

.banner__block{
    max-width: 470px;
    max-height: 450px;
    background-color: #fff;
    border-radius: 10px;
   position: relative;
}
.container__form{
    margin: 0 auto;
    display: flex; 
    padding: 36px 50px 80px 50px;
}
.form__title {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 75px;
}
.form__title-accent{
    color: #EC7979;
}
.form__registration{
    margin-bottom: 75px;
    width: 370px;
}   
.form__input{
    margin-bottom: 31px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    padding: 10px;
}
/*.form__input:not(:last-child){
    margin-bottom: 0px;
}*/
.block .form__btn{
    flex: 0 1 370px; 
}
.form__input::placeholder{
    color: #BDBDBD;
}
.form__btn{
    background-color: #EC7979;
    color: #fff;
    padding: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
position: absolute;
display: block;
width: 100%;
outline: none;
border-radius: 0 0 10px 10px;
}
.form__input:hover{
    background-color:#F5F5F5;
}
.form__input:focus{
    font-weight: 600;
}
.form__btn:hover{
    background-color: #AB4949;
}
.form__btn:active{
box-shadow: inset 0px 0px 10px #EC7979;
transform: translateY(3px);
}

/*----------------------------SOCIAL---------------------------*/
.social{
    background-color: #F5F5F5;
    padding: 32px 0 14px;
}
.social__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}
.social__info{
    max-width: 470px;
}
.social__title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px; 
    color: #333333;
    margin-bottom: 16px;
}
.social__subtitle{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    opacity: 40%;
}
.social__icons{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    list-style-type: none;
}
.social .icon-link{
    width: 70px;
    height: 70px;
}
.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    /*object-position: center;   ---для img 
    width: 100%;
    height: 100%;
    object-fit: contain;*/
}
.icon-link:hover path{
    fill: #86878B;
}
/*--------------------Why this is awesome-------------------------*/
.features {
    padding: 100px 0;
    text-align: center;
}
.heading {
    margin-bottom: 92px;
    text-align: center;
}
.heading__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 40px;
}
.heading__line {
    height: 1px;
    width: 170px;
    background-color: #EC7979;
   margin: 40px auto;
}
.heading__text {
    font-size: 18px;
    color: #86878B;
    line-height: 21px;object-position: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.feature{
    flex:0 1 370px
}
.features__box {
  display: flex;
    column-gap: 27px;
     justify-content: center;
    align-items: flex-start;
    margin-top: 92px;
}
.feature__wrapper-icon{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #EC7979;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 24px;
}
.feature__wrapper-icon #Lamp {
    width: 65px;
    height: 65px;
}
.feature__wrapper-icon #keyboard {
    width: 66px;
    height: 46px;
}
.feature__wrapper-icon #lightning {
    width: 44px;
    height: 65px;
}
.feature__title {
    /*margin: 24px auto 30px;*/
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 26px; 
}
.feature__text {
    font-size: 18px;
    line-height: 21px;
}

/*--------------------------Pricing Options---------------------*/
.tariffs{
    max-width: 1510px;
    margin: 0px auto;
    background-color: #F5F5F5;
    padding:  82px 0px 83px;
    text-align: center;
}
.tariffs__plans{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: flex-start;
}
.tariffs .heading__text{
    margin-bottom: 79px;
}
.plan:hover{
filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2)); /*=box-shadow:0px 4px 10px rgba(51, 51, 51, 0.2)*/
transform: translateY(-20px);
}
.plan{
   max-width: 370px; 
   width: 100%;
}
.plan__name{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    padding: 11px 10px;
    color: #FFFFFF;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.plan__amount{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 27px 10px;
    color: #FFFFFF;
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.plan__description{
    font-size: 18px;
    line-height: 22px;
    padding: 12px 10px; /*уменьшаем, чтобы попасть в размеры окна 370*100*/
    color: rgba(255, 255, 255, 50%);
    background-color: #333333;
    border: 2px solid #F5F5F5;
}
.plan__info{
    list-style-type: none;
    font-size: 18px;
    line-height: 22px;
    padding: 12px 10px; /*уменьшаем, чтобы попасть в размеры окна 370*50*/
    color: #86878B;
    background-color: #FFFFFF;
    border-width: 2px;
    text-transform:capitalize;
    border: 2px solid #F5F5F5;
}

/*-------------------------What our customers are saying--------------*/
  .costumers{
    text-align: center;
}  
.costumers .heading__text{
    margin-bottom: 83px;
}
.opinions__container{    
    padding:  100px 0px;
}
.customers__box{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.customer{
    flex: 0 1 370px;
    /*width: 370px;
    height: 316px;
    margin-bottom: 100px;*/
}
.customer__text{
    background-color: #E2E2E2;
   border-radius: 10px;
   font-size: 18px;
    line-height: 21px;
    padding: 38px 25px 37px;
    color: #86878B;
    position: relative;
    margin-bottom: 70px;
}
.customer__text::before{
  content: '';  
   width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    /*margin-left: 70px;
    margin-bottom: 66px;*/
    position: absolute;
    left: 70px;
    top: 100%;
}
.customer__info{
display: flex;
column-gap: 30px;
text-align: left;
}
.customer__wrapper-icon{
   width: 70px; 
   height: 70px;
   border-radius: 50%;
   overflow: hidden;
   /*display: flex;    
   justify-content: center;*/
}
.customer__icon{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} 
.customer__name{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
   }
.customer__status{
    font-size: 18px;
    line-height: 21px;
}
/*------------------------Design---------------------*/
.design{
  background-image: url(../img_hw7/image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
}
.design::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.container__desing{
    height: 425px;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
}
.design .container__desing{
    z-index: 1;
    position: relative;
}
.design__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 80px;
    color: #FFFFFF;
    position: relative;
}
.design__title::after{
    content: '';
    display: block;
    width: 170px;
    border: 1px solid #fff;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    bottom:-40px;
}
.design__text {
    font-size: 18px;
    color: fff;
    line-height: 21px;
}
.design__btn{
    width: 100%;
    max-width: 370px;
    border: 2px solid #fff ;
    background-color: transparent;
    font-size: 18px;
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 20px;
    align-items: center;
}
/*------------------------Contact us------------------*/

.contact__container{
    padding: 100px 0;
 
}

.contact__form{
    max-width: 1170px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    position: relative;
     margin: 0 auto;
}
.contact__form-left{
    display: flex;
    flex-direction: column;
    row-gap: 30px ;
    flex: 0 1 571px;
}
.contact__form:last-child{
    column-gap: 20px;
}
.form-textarea{
     flex: 0 1 571px;
}
.form-textarea__input{
    width: 571px;
     margin-bottom: 40px;
     border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    padding: 10px; 
    resize: none;
    height: 241px;


}
.contact .form__btn{
    max-width: 370px;
    border-radius: 0px;
    align-items: center;
}

/*--------------------------Footer---------------------*/
.footer{
    background-color: #000;
    padding: 35px 0 27px;
}
.footer__wrapper{
   /* width: 1170px;
    flex-wrap: wrap;
    background-color: #000 ;*/
 }
 .footer__icons{ 
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 33px;
    margin-bottom: 28PX;
     /*object-position: center;
    width: 100%;
    height: 100%;
    object-fit: contain;*/
}
.footer .icon-link{
  width: 53px; 
  height: 53px; 
}
.footer__production{
    color: rgba(217, 217, 217, 50%);
    text-align: center;
}