:root {
  --gap: 30px;
  --open-sans: "Open Sans", sans-serif;

  --clr-ntrl-min: #fff;
  --clr-ntrl-max: #000;

  --clr-base-ltr: #F5F5F5;
  --clr-base-lt: #E2E2E2;
  --clr-base-md: #BDBDBD;
  --clr-base: #86878B;
  --clr-base-dk: #333;
  --clr-primary: #EC7979;
  --clr-primary-dk: #AB4949;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* glob */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.list-reset {
  list-style: none;
}

.header,
.footer {
  background-color: var(--clr-ntrl-max);
}

.section__header {
  margin-bottom: 79px;
  text-align: center;
}

.section__title {
  position: relative;
  margin-bottom: 80px;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 42px;
}

.section__title::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -40px;
  display: block;
  width: 170px;
  height: 1px;
  background-color: var(--clr-primary);
  transform: translateX(-50%);
}

.section__descr {
  color: var(--clr-base);
}

.awesome__card,
.pricing__card,
.feedback__card {
  flex: 0 1 370px;
}

.btn {
  padding: 18px 30px 17px;
  font-family: var(--open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-transform: capitalize;
  text-align: center;
  color: var(--clr-ntrl-min);
  cursor: pointer;
}

.btn_secondary {
  background-color: transparent;
  border: 1px solid var(--clr-ntrl-min);
  transition: all .3s ease-in-out;
}

.btn_secondary:hover {
  border-color: var(--clr-primary);
  color: var(--clr-primary);
}

.btn_secondary:active {
  background-color: var(--clr-primary-dk);
  color: var(--clr-ntrl-min);
  border-color: var(--clr-primary-dk);
}

.btn_primary {
  background-color: var(--clr-primary);
  border: none;
  transition: all .3s ease-in-out;
}

.btn_primary:hover {
  background-color: var(--clr-primary-dk);
}

.btn_primary:active {
  background-color: var(--clr-primary);
  box-shadow: inset 0 0 10px 0 #ab4949;
}

/* HEADER */

.header {
  padding: 22px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: flex;
  width: 87px;
}

.header__logo {
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: var(--gap)
}

.nav__link {
  font-family: var(--open-sans);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
  color: var(--clr-ntrl-min);
  transition: all .3s ease-in-out;
}

.nav__link:hover {
  color: var(--clr-primary);
}

.nav__link:active {
  color: var(--clr-primary-dk);
}

/* BANNER */

.banner {
  padding: 306px 0 185px;
  background-image: url('assets/banner-bg.jpg');
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.banner,
.design {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__container {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
}

.banner__content {
  max-width: 670px;
  color: var(--clr-ntrl-min);
}

.banner__logo {
  margin-bottom: 73px;
  width: 170px;
}

.banner__title {
  position: relative;
  margin-bottom: 97px;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

.banner__title::after {
  position: absolute;
  left: 0;
  bottom: -55px;
  margin: 0;
  background-color: var(--clr-ntrl-min);
}

.banner__descr {
  margin-bottom: 42px;
  max-width: 270px;
}

.banner__btn {
  max-width: 270px;
  width: 100%;
}

/* FORMS */
/* Banner form */
.banner__form {
  flex: 0 1 470px;
  background-color: var(--clr-ntrl-min);
  border-radius: 10px;
}

.form__title {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1px;
  text-align: center;
  color: var(--clr-base-dk);
}

.form__highlight {
  color: var(--clr-primary);
}

.form__body {
  padding: 36px 50px 0;
  margin-bottom: 75px;
}

.form__input,
.form__textarea {
  padding: 16px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--clr-base-md);
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: var(--open-sans);
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--clr-base-md);
}

.form__input {
  margin-bottom: 20px;
}

.form__input:last-of-type,
.contact .form__input:last-of-type {
  margin-bottom: 0;
}

.banner .btn_primary {
  padding: 20px 30px;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  border-radius: 0 0 10px 10px;
}

/* Contact us form */
.form__content {
  display: flex;
  align-items: stretch;
  column-gap: var(--gap);
  margin-bottom: 50px;
  width: 100%;
}

.form__textarea {
  resize: none;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.contact .form__input {
  margin-bottom: 34px;
}

.form__group,
.form__textarea {
  flex: 0 1 50%;
}

.contact__btn {
  display: block;
  padding: 19px 30px 18px;
  margin: 0 auto;
  max-width: 370px;
  width: 100%;
}

/* MEDIA */

.media {
  padding-top: 30px;
  padding-bottom: 17px;
  background-color: var(--clr-base-ltr);
}

.media__container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.media__content {
  max-width: 470px;
}

.media__title {
  margin-bottom: 18px;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.social {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  row-gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 70px;
}

/* SECTION AWESOME */

.awesome {
  padding: 100px 0;
}

.awesome__header {
  margin-bottom: 92px;
}

.awesome__cards {
  display: flex;
  column-gap: var(--gap);
}

.awesome__card {
  text-align: center;
}

.awesome__wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px;
  width: 92px;
  height: 92px;
  border: 1px solid var(--clr-primary);
  border-radius: 50%;
}

.awesome__title {
  margin-bottom: 26px;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

/* SECTION PRICING */

.pricing {
  padding: 82px 0 83px;
  background-color: var(--clr-base-ltr);
}

.pricing__cards {
  display: flex;
  gap: 30px;
}

.pricing__plan,
.pricing__amount,
.pricing__descr {
  background-color: var(--clr-base-dk);
  color: var(--clr-ntrl-min);
}

.pricing__plan,
.pricing__amount,
.pricing__descr,
.pricing__item {
  border: 2px solid var(--clr-base-ltr);
  text-align: center;
}

.pricing__plan {
  padding: 12px 15px 11px;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.pricing__amount {
  padding: 28px 15px 27px;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
}

.pricing__descr,
.pricing__item {
  padding: 13px 15px 12px;
}

.pricing__descr {
  color: rgba(255, 255, 255, 0.5); 
}

.pricing__item {
  background-color: var(--clr-ntrl-min);
  color: var(--clr-base);
  text-transform: capitalize;
}

/* SECTION FEEDBACK */

.feedback {
  padding: 100px 0;
}

.feedback__header {
  margin-bottom: 83px;
}

.feedback__cards {
  display: flex;
  gap: var(--gap);
}

.feedback__message {
  position: relative;
  padding: 38px 25px 37px;
  margin-bottom: 66px;
  border-radius: 10px;
  background-color: var(--clr-base-lt);
  color: var(--clr-base);
  text-align: center;
}

.feedback__message::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 70px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid var(--clr-base-lt);
}

.feedback__profile {
  display: flex;
  column-gap: var(--gap);
}

.feedback__avatar {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.feedback__avatar_jhope,
.feedback__avatar_jackson  {
  object-position: center 30%;
}

.feedback__avatar_yuxiao {
  object-position: center 0;
}

.feedback__full-name {
  margin-bottom: 18px;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

/* SECTION DESIGN */

.design {
  padding: 70px 0;
  background-image: url('assets/design-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.design .section__header {
  margin-bottom: 80px;
}

.design .section__title,
.design .section__descr {
  color: var(--clr-ntrl-min);
}

.design .section__title::after {
  background-color: var(--clr-ntrl-min);
}

.design__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 370px;
}

/* SECTION CONTACT US */

.contact {
  padding: 100px 0 146px;
}

.contact .section__header {
  margin-bottom: 89px;
}

/* FOOTER */

.footer {
  padding-top: 35px;
  padding-bottom: 27px;
}

.footer__container {
  color: var(--clr-ntrl-min);
}

.footer__social {
  justify-content: center;
  margin-bottom: 28px;
}

.footer__copyright {
  text-align: center;
  color: rgba(217, 217, 217, 0.5);
}

.footer .social__link {
  width: 53px;
}