:root {
  --gap: 30px;
  --open-sans: font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* glob */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.list-reset {
  list-style: none;
}

/* HEADER */

.header,
.footer {
  background-color: #000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.header__nav {
  font-family: var(--open-sans);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: var(--gap)
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

/* MEDIA */

.media {
  background-color: #F5F5F5;
}

.media__container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding-top: 30px;
  padding-bottom: 17px;
}

.media__content {
  max-width: 470px;
}

.media__title {
  margin-bottom: 18px;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.social {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  row-gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 70px;
}

/* SECTION AWESOME */

.awesome {
  padding: 100px 0;
}

.section__header {
  margin-bottom: 79px;
  text-align: center;
}

.awesome__header {
  margin-bottom: 92px;
}

.section__title {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 42px;
}

.section__title::after {
  content: '';
  background-color: #EC7979;
  display: block;
  margin: 40px auto 0;
  width: 170px;
  height: 1px;
}

.section__descr {
  color: #86878B;
}

.awesome__card {
  display: inline-block;
  margin-right: 27px;
  width: calc((100% - 64px) / 3);
  text-align: center;
}

.awesome__card:last-child {
  margin-right: 0;
}

.awesome__wrapper-icon {
  position: relative;
  margin: 0 auto 24px;
  width: 92px;
  height: 92px;
  border: 1px solid #EC7979;
  border-radius: 50%;
}

.awesome__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

.awesome__title {
  margin-bottom: 26px;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

/* SECTION PRICING */

.pricing {
  padding: 82px 0 83px;
  background-color: #F5F5F5;
}

.pricing__cards {
  display: flex;
  gap: 30px;
}

.pricing__card {
  max-width: 370px;
  width: 100%;
}

.pricing__plan,
.pricing__amount,
.pricing__descr {
  background-color: #333;
  color: #fff;
}

.pricing__plan,
.pricing__amount,
.pricing__descr,
.pricing__item {
  border: 2px solid #F5F5F5;
  text-align: center;
}

.pricing__plan {
  padding: 12px 15px 11px;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.pricing__amount {
  padding: 28px 15px 27px;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
}

.pricing__descr,
.pricing__item {
  padding: 13px 15px 12px;
}

.pricing__descr {
  color: rgba(255, 255, 255, 0.5); 
}

.pricing__item {
  background-color: #fff;
  color: #86878B;
  text-transform: capitalize;
}

/* SECTION FEEDBACK */

.feedback {
  padding: 100px 0;
}

.feedback__header {
  margin-bottom: 83px;
}

.feedback__cards {
  display: flex;
  gap: var(--gap);
}

.feedback__message {
  position: relative;
  padding: 38px 25px 37px;
  margin-bottom: 66px;
  border-radius: 10px;
  background-color: #E2E2E2;
  color: #86878B;
}

.feedback__message::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 70px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
}

.feedback__profile {
  display: flex;
  column-gap: var(--gap);
}

.feedback__avatar {
  max-width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.feedback__avatar_jhope,
.feedback__avatar_jackson  {
  object-position: center 30%;
}

.feedback__avatar_yuxiao {
  object-position: center 0;
}

.feedback__full-name {
  margin-bottom: 18px;
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 28px;
  padding-top: 35px;
  padding-bottom: 27px;
  color: #fff;
}

.copyright {
  color: rgba(217, 217, 217, 0.5);
}

.footer .social__link {
  width: 53px;
}