* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pricing {
	background-color: #F5F5F5;
	padding: 82px 0 83px;
}

.container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
	/* background-color: #F5F5F5; */
	/* border-color: red; */
}

.title,
.line,
.text {
	text-align: center
}

/* font-family: "Raleway", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
.title {
	font-family: "Raleway", sans-serif;
	font-size: 36px;
	line-height: 42px;
	/* padding: 82px 171px auto 169px; */

	border-width: 10px;
	font-weight: 400;
	margin-bottom: 40px;
	/* padding-top: 40px; */
	text-transform: uppercase;
}

.line {
	width: 170px;
	border-top: 2px solid #EC7979;
	/* margin-left: 380px; */
	/* херня полная!!!!!!!!!!!!!!!! */
	/* margin-bottom: 40px; */
	margin: 0 auto 40px;
	/*zdes' proizochla centrovka cherty  */

}

.text {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 21px;
	/* padding: 82px 171px auto 169px; */
	border-color: red;
	border-width: 10px;
	font-weight: 400;
	color: #86878B;
	margin-bottom: 79px;
}

.price {
	max-width: 370px;
}

h3,
.price__amout,
.free__text {
	/* width: 370px; */
	/* height: 60px; */
	background-color: #333333;
	color: #FFFFFF;
	border-color: #F5F5F5;
	border: 2px solid #F5F5F5;
	text-align: center
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	padding: 11px 10px;
}

.price__amout,
.free__text {
	font-family: "Raleway", sans-serif;
}

.price__amout {
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	padding: 27px 10px;

}

.free__text {
	font-size: 18px;
	/* font-weight: 200; */
	line-height: 22px;
	padding: 12px 10px;
}

li {
	/* width: 370px;
	height: 50px; */
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	padding: 14px 10px;
}