* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.awesome {
  padding: 80px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.awesome__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 40px;
}

.awesome__divider {
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  margin: 0 auto 40px;
}

.awesome__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #86878b;
  margin-bottom: 92px;
  line-height: 21px;
}

.awesome__features {
  display: flex;
  gap: 30px;
}

.awesome__item {
  flex: 1;
}

.awesome__icon {
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  margin: 0 auto 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  color: #ec7979;
}

.awesome__item-title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 26px;
  color: #000;
}

.awesome__item-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

body {
    font-family: "Raleway", sans-serif;
}

.pricing {
    padding: 82px 0;
    background: #F5F5F5;
    text-align: center;
}

.pricing__container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.pricing__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 42px;
    text-transform: uppercase;
}

.pricing__line {
    width: 170px;
    height: 1px;
    background: #EC7979;
    margin: 0 auto 40px;
}

.pricing__subtitle {
    color: #86878B;
    margin-bottom: 79px;
    line-height: 21px;
}

.pricing__cards {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.pricing-card {
    width: 100%;
    background: #fff;
}

.pricing-card__head {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    background: #333;
    color: #fff;
    padding: 12.5px;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #F5F5F5;
}

.pricing-card__price {
    background: #333;
    font-weight: 700;
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    padding: 28.5px 0;
    border-bottom: 1px solid #F5F5F5;
}

.pricing-card__label {
    background: #333;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 13.5px 0;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #F5F5F5;
}

.pricing-card__list {
    list-style: none;
}

.pricing-card__item {
    padding: 13.5px 0;
    border-top: 1px solid #F5F5F5;
    color: #86878B;
    font-size: 18px;
    line-height: 22px;
}

.header {
    background-color: #000;
    padding: 22px 0;
}

.header__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    font-weight: bold;
}

.logo {
    display: flex;
    max-width: 87px;
}

.nav__axit {
    display: flex;
    gap: 30px;
}

.nav__link {
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 19px;
    text-decoration: none;
}

.social {
    background: #f5f5f5;
    padding: 32px 0 14px;
}

.social__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__content {
    max-width: 470px;
}

.social__title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    color: #333;
    line-height: 33px;
}

.social__text {
    font-size: 18px;
    color: #333;
    line-height: 21px;
}

.social__media {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.social__link {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__icon {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.footer {
    background: #000;
    padding: 35px 0 27px;
}

.footer__container {
    max-width: 1170px;
    padding: 35px 470px;
    margin: 0 auto;
    text-align: center;
}

.footer__link {
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 0 auto 28px;
}

.footer__icon {
    color: #fff;
    font-size: 22px;
}

.footer__date {
    font-size: 12px;
    color: rgba(217, 217, 217, 50%);
    text-align: center;
    line-height: 21px;
}

.customer__text::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 70px;
}

.customers{
    padding: 100px 0;
    text-align: center;
}

.heading {
    margin-bottom: 83px;
}

.heading__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 42px;
    text-transform: uppercase;
}

.heading__line {
    width: 170px;
    height: 1px;
    background-color: #ec7979;
    margin: 0 auto 40px;
}

.heading__text {
    color: #86878B;
    line-height: 21px;
    font-size: 18px;
}

.customers__team {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.customer {
    flex: 0 1 370px;
}

.customer__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 37px 25px 38px;
    margin-bottom: 66px;
    position: relative;
}

.customer__profil {
    text-align: left;
    display: flex; 
    column-gap: 30px; 
}

.customer__name {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 18px;
    color: #000;
}

.customer__specialist {
  font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
}

.customer__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.hero{
    padding: 306px 0 185px;
    background-image: url(../src/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    z-index: 1;
    position: relative;
}

.hero__picture{
    width: 170px;
    max-height: 55px;
    margin-bottom: 73px;
    display: flex;
}

.hero__text{
    color: #fff;
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 21px;
    max-width: 270px;
}

.hero__title{
    margin-bottom: 97px;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
}

.hero__title::after{
    content: '';
    display: block;
    width: 170px;
    border: 1px solid #fff;
    position: absolute;
    bottom: -55px;
    left: 0;
}

.hero__btn{
    width: 100%;
    max-width: 270px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 15px 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.hero__form{
    background: #fff;
    width: 470px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 36px;
    width: 100%;
}

.hero__form-title{
    text-align: center;
    padding: 0 36px;
    font-size: 24px;
    line-height: 33px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 75px;
}

.hero__form-title span{
    color: #ec7979;
}

.form{
    margin-bottom: 75px;
    padding: 0 50px;
}

.form__input{
    width: 370px;
    padding: 11px 0;
    margin-bottom: 31px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
}

.form__input::after{
    margin-bottom: 0px;
}

.form__input::placeholder{
    color: #BDBDBD;
}


.form__button{
   width: 100%;
   padding: 20px 0;
   border: none;
   background: #ec7979;
   color: #fff;
   font-size: 15px;
   line-height: 20px;
   cursor: pointer;
   font-family: "Open Sans", sans-serif;
}

.design{
    padding: 70px 0;
    background-image: url(../src/photo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.design::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.design__container{
    position: relative;
}

.hero .design__container{
    z-index: 1;
    position: relative;
}

.design__title{
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-weight: 400;
}

.design__text{
    color: #fff;
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.design__title::after{
    content: '';
    display: block;
    width: 170px;
    border: 1px solid #fff;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.design__btn{
    width: 100%;
    max-width: 370px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 15px 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.contact{
  padding: 100px 0 146px;
  text-align: center;
}

.contact__title{
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-weight: 400;
  margin-bottom: 80px;
  text-transform: uppercase;
  position: relative;
}

.contact__title::after{
  content: '';
  display: block;
  width: 170px;
  border: 1px solid #ec7979;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.contact__text{
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  margin-bottom: 89px;
}

.contact__form{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.contact__wrapper-inputs{
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  flex: 0 1 571px;
}

.contact__wrapper-inputs:last-child{
  column-gap: 0;
}

.contact__wrapper-textarea{
  flex: 0 1 571px;
}

.contact__input{
  font-size: 14px;
  line-height: 19px;
  padding: 20px 0 20px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans", sans-serif;
  color: #bdbdbd;
}

.contact__input:last-child{
  margin-bottom: 0;
}

.contact__input:focus{
  color: #ec7979;
}

.contact__textarea{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 200;
  color: #bdbdbd;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  resize: none;
  padding: 20px 0 20px;
  min-height: 247px;
  width: 100%;
}

.contact__textarea:focus{
  color: #ec7979;
}

.contact__btn{
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  background-color: #ec7979;
  border: none;
  border-radius: 0;
  padding: 16px;
  max-width: 370px;
  width: 100%;
  box-shadow: 0 8px 0 darker;
}

.contact__btn:hover{
  transform: translateY(-4px);
}