*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;

}

.heading{
    margin-bottom: 92px;
}

.awesome{
     padding-top: 109px;
}
 hr{
    width: 170px;
    height: 1px;
    border-color: #ec7979;
    margin: 0
    auto 40px;
   
 }

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.awesome__item{
   
    display: inline-block;
    margin-right: 24px;
    max-width: 370px;
}

.awesome__wrapper-image{
    
    width: 92px;
    height: 92px;
    border: 1px solid #ec7979;
    border-radius: 50%;
    margin: 0 auto 24px;
    padding: 11px;
}

.heading__title{
    
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    line-height: 42px;
    text-transform: uppercase;
    
} 

.heading__text{
 
    font-size: 18px;
    color: #86878B;
    text-align: center;
    line-height: 21px;
    margin-bottom: 92px;
}
.awesome__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 26px;
    line-height: 33px;
}

.awesome__text{
   
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
}
.awesome__item:last-child{
    margin-right: 0;
}