* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
/* font-family: "Open Sans", sans-serif; */
.header {
  background-color: #000;
  padding: 22px 170px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 87px;
  display: flex;
}
.nav__list {
  display: inline-flex;
  gap: 30px;
  list-style: none;
}
.nav__link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: capitalize;
}

.media {
  background-color: #f5f5f5;
  padding: 32px 170px 18px 170px;
}
.media .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .media__container__text {
  max-width: 470px;
  margin-right: 30px;
} */
.h2-tag {
  margin-bottom: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  color: #333333;
}
.media__text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.media__link {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media__list {
  display: inline-flex;
  list-style: none;
  gap: 30px;
}
.awesome {
  padding: 100px 0;
}
.container__awesome {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.awesome__wrapper {
  display: flex;
  text-align: center;
  gap: 27px;
}
.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
hr {
  width: 170px;
  border: 1px solid #ec7979;
  margin: 0 auto 40px;
}

.awesome__element {
  max-width: 371px;
}
.text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
  margin-bottom: 95px;
}
.awesome__wrapper-item {
  width: 91.86px;
  height: 91.61px;
  border: 1px solid #ec7979;
  color: #ec7979;
  border-radius: 50%;
  margin: 0 auto 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.awesome__text {
  color: #86878b;
  font-size: 18px;
  line-height: 21px;
}
.awesome__title {
  font-family: "Open Sans";
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 26px;
}

.pricing {
  padding: 82px 0;
  background-color: #f5f5f5;
  text-align: center;
}
/* .pricing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.pricing__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.pricing__line {
  margin: 0 auto 40px;
  width: 170px;
  border: 1px solid #ec7979;
}
.pricing__text {
  margin-bottom: 59px;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}
.pricing__wrapper {
  display: flex;
  column-gap: 30px;
}
.price {
  flex: 0 1 370px;
}
.price:last-child {
  margin-right: 0px;
}

.price__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  padding: 12px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__numder {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  padding: 28px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__text {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  padding: 13px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__info {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
  padding: 13px 10px;
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
}

.customers {
  padding: 100px 0;
}
.container__customers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 170px;
}
/* .awesome__wrapper {
  display: flex;
  text-align: center;
  gap: 27px;
} */
.customers__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
hr {
  width: 170px;
  border: 1px solid #ec7979;
  margin: 0 auto 40px;
}
.customers__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
  margin-bottom: 83px;
}
.customers__wrapper {
  display: flex;
  gap: 27px;
  justify-content: space-between;
}
.customers__wrapper__block {
  flex: 0 1 370px;
}

.customers__wrapper__text {
  padding: 38px 25px;
  margin-bottom: 66px;
  background-color: #e2e2e2;
  border-radius: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  position: relative;
}
.customers__wrapper__text::before {
  content: "";
  display: inline-block;
  border: 14px solid transparent;
  border-top: 14px solid #e2e2e2;
  position: absolute;
  left: 70px;
  top: 100%;
  margin-bottom: 100px;

  /* background: #e2e2e2;
  left: 20px;
  bottom: -11px;
  width: 20px;
  height: 20px;
  z-index: -1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); */
}
.element__style {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.customers__wrapper__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  overflow: hidden;
}
.wrapper__img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.title__subtitle {
  display: block;
  unicode-bidi: isolate;
}
.customers__wrapper__title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}
.customers__wrapper__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.footer {
  background-color: #000;
  text-align: center;
  padding: 35px 0 27px;
}
.footer__list {
  display: inline-flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 27px;
}
.footer__text {
  color: #fff;
  opacity: 50%;
  font-size: 18px;
  line-height: 21px;
}
.footer__item {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
