*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;

}

.awesome{
     padding-top: 100px;
     padding-bottom: 100px;
     text-align: center;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.awesome__item{
   
    display: inline-block;
    margin-right: 24px;
    max-width: 370px;
}

.awesome__wrapper-image{
    
    width: 92px;
    height: 92px;
    border: 1px solid #ec7979;
    border-radius: 50%;
    margin: 0 auto 24px;
    padding: 11px;
}

.awesome__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 26px;
    line-height: 33px;
}

.awesome__text{
   
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
}
.awesome__item:last-child{
    margin-right: 0;
}


.plans{
    background-color: #F5F5F5;
    padding: 82px 0 83px;
    text-align: center;
}

.page__overview{
    margin-bottom: 79px;
}

.page__title{
    color: #000000;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.page__line{
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto 40px;
}

.page__text{
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    font-weight: 400;
    
}



.plan__categories{
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    padding: 11px 0;
   
}

.plan__price{
     color: #FFFFFF;
     font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    background-color: #333333;
    padding: 27px 10px;
    border: 2px solid #F5F5F5;
  
}
.plan__description{
    color: #86878B;
     font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background-color: #333333;
    padding: 12px 0;
    border: 2px solid #F5F5F5;
   
}
.plan__list{
    list-style: none;
}

.plan__item{
     color: #86878B;
     font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background-color: #FFFFFF;
    padding: 12px 10px;
    border: 2px solid #F5F5F5;
    text-transform: capitalize;
   
}
.plan{
    display: inline-block;
    margin-right: 22px;
    max-width: 370px;
    width: 100%;
    max-width: 370px;
}
 .plan:last-child{
    margin-right: 0;
}
.plan:hover{
transform: translateY(-20px);
box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}

.header{
    background-color: #000;
    padding: 22px 0;
}
.header__content{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
}
.logo{
    display: flex;
    max-width: 87px;
}

.nav{
    display: flex;
   
    gap: 30px;
}
.nav__link{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    line-height: 19px;
    text-decoration: none;
}
.nav__link:hover{
    color: #EC7979;
}




.social{
    background-color: #F5F5F5;
    padding: 32px 0 14px;
    text-align: left;
}
.social__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.social__content{
    max-width: 470px;
}
.social__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 16px;
}
.social__text{
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
   color: #333333;
}
.social__media{
    display: flex;
    gap: 30px;
}
.social__link{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__link:hover path { 
    fill: #EC7979;
}


.footer{
    background-color: #000;
    padding: 35px 0 27px;
    text-align: center;
}
.footer__icon{
    width: 53px;
    height: 53px;
}
.footer__media{
    display: flex;
    justify-content: center;
    margin: 0 auto 28px;
    gap: 32px;
}
.footer__date{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(217, 217, 217, 0.5);

}
.footer__link{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__link:hover path { 
    fill: #EC7979;
}


.customer__text::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 70px;
}

.customers{
    padding: 100px 0;
    text-align: center;
}
.customers__team{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.customer{
   flex: 0 1 370px;
}
.customer__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 37px 25px 38px;
    margin-bottom: 66px;
    position: relative;
    
}
.customer__profil{
    text-align: left;
    display: flex; 
    column-gap: 30px; 
}
.customer__name{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 18px;
    color: #000;

}
.customer__specialist{
  font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
}
.customer__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.customer__wrapper-image{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}

.banner{
    text-align: left;
    padding: 306px 0 186px;
    background-image: url(../assets/town.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
} 
.banner::before{ 
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
} 
    
.banner__container{
    z-index: 1;
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
}
.banner__logo{
    width: 170px;
    height: 55px;
    margin-bottom: 73px;
    object-fit: contain;
}
.banner__title{
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    color: #FFFFFF;
    max-width: 670px;
    margin-bottom: 97px;
    position: relative;
}
.banner__title::after{
    content: '';
    border: 1px solid #FFFFFF;
    width: 170px;
    position: absolute;
    bottom: -55px;
    left: 0;

}
.banner__text{
    max-width: 270px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 42px;
    
}
.banner__btn{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: capitalize;
    padding: 17px 10px;
    max-width: 270px;
    width: 100%;
    font-family: "Open Sans", sans-serif;

}
.banner__btn:hover{
    background-color: #EC7979;
   
}
.banner__account-form{
    max-width: 470px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 36px 50px 75px;
    position: relative;
}
.form__title{
   font-size: 24px;
   line-height: 33px;
   font-family: "Open Sans", sans-serif;
   color: #000;
   font-weight: 700;
   margin-bottom: 75px;
   text-transform: uppercase;
}
.pink{
 color: #EC7979;
}
.form__btn{
  background-color: #EC7979;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #EC7979;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 19px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form{
    border: none; 
    font-size: 14px;
    line-height: 19px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 16px;
     outline: none;

}

.form__registration{
    display: flex;
    flex-direction: column;
    gap: 31px;
    max-width: 370px;
    width: 100%;
    margin-bottom: 60px;
   
}

.design{
    text-align: center;
    background-image: url(../assets/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 70px 0;
    position: relative;
}
.design::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.design__container{
    z-index: 1;
    position: relative;

     align-items: center;
}
.design__title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 80px;
  
}
.design__title::after{
    content: '';
    border: 1px solid #FFFFFF;
    width: 170px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.design__text{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 80px;
  
}
.design__btn{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: capitalize;
    padding: 17px 10px;
    max-width: 370px;
    width: 100%;
    font-family: "Open Sans", sans-serif;

}

.contact{
    text-align: center;
    padding: 100px 0 146px;
}
.contact__registr{
    margin-bottom: 50px;
}
.contact__btn{
    background-color: #EC7979;
    border: 2px solid #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: capitalize;
    padding: 17px 10px;
    max-width: 370px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}
.contact__btn:hover{
    color: #EC7979;
    border: 2px solid #EC7979;
    background-color: #FFFFFF;
}
.contact__enrol{
    display: flex;
    gap: 30px;
    align-items: center;
}
.contact__registr{
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex: 0 1 570px;
}

.com__registr{
    min-height: 210px;
    resize: none;
}
.registr{
    font-family: "Open Sans", sans-serif;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 16px 10px;
    outline: none;
}
.registr::placeholder{
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    font-family: "Open Sans", sans-serif;
}
