* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
/* font-family: "Open Sans", sans-serif; */
.header {
  background-color: #000;
  display: flex;
  padding: 22px 170px;
  justify-content: space-between;
}
.header__logo {
  align-items: center;
}
.header__menu {
  display: inline-flex;
  gap: 30px;
  list-style: none;
  max-width: 382px;
  align-items: center;
}
.menu__list {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: capitalize;
}

.media {
  background-color: #f5f5f5;
  padding: 32px 170px 18px 170px;
  padding-right: 182px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.media__container__text {
  max-width: 470px;
  margin-right: 30px;
}
.media__title {
  margin-bottom: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  color: #333333;
}
.media__text {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  color: #333333;
  margin-bottom: 18px;
}
.media__list {
  display: inline-flex;
  list-style: none;
  gap: 30px;
}
.media__list__icon {
  padding: 6px 6px;
  width: 70px;
  height: 70px;
}
.awesome {
  padding: 100px 0;
}
.container__awesome {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.awesome__wrapper {
  display: flex;
  text-align: center;
  gap: 27px;
}
.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
hr {
  width: 170px;
  border: 1px solid #ec7979;
  margin: 0 auto 40px;
}

.awesome__element {
  max-width: 371px;
}
.text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
  margin-bottom: 95px;
}
.awesome__wrapper-item {
  width: 91.86px;
  height: 91.61px;
  border: 1px solid #ec7979;
  color: #ec7979;
  border-radius: 50%;
  margin: 0 auto 24px;
  justify-content: center;
  align-items: center;
}
/* .awesome__img {
  justify-content: center;
  align-items: center;
} */
.awesome__text {
  color: #86878b;
  font-size: 18px;
  line-height: 21px;
}
.awesome__title {
  font-family: "Open Sans";
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 26px;
}

.pricing {
  padding: 82px 0;
  background-color: #f5f5f5;
  text-align: center;
}

.pricing__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.pricing__line {
  margin: 0 auto 40px;
  width: 170px;
  border: 1px solid #ec7979;
}
.pricing__text {
  margin-bottom: 59px;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}

.price {
  margin-right: 20px;
  display: inline-block;
  max-width: 370px;
  width: 100%;
}
.price:last-child {
  margin-right: 0px;
}

.price__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  padding: 12px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__numder {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  padding: 28px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__text {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  padding: 13px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__info {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
  padding: 13px 10px;
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
}

.customers {
  padding: 100px 0;
}
.container__customers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 170px;
}
/* .awesome__wrapper {
  display: flex;
  text-align: center;
  gap: 27px;
} */
.customers__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
hr {
  width: 170px;
  border: 1px solid #ec7979;
  margin: 0 auto 40px;
}
.customers__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
  margin-bottom: 83px;
}
.customers__wrapper {
  max-width: 1200px;
  display: flex;
  text-align: center;
  gap: 27px;
  justify-content: space-between;
}
.customers__wrapper__block {
  max-width: 369px;
}

.customers__wrapper__text {
  padding: 38px 25px;
  margin-bottom: 66px;
  background-color: #e2e2e2;
  border-radius: 10px;
  max-width: 370px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #86878b;
}
.customers__wrapper__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
  object-position: center;
}
.customers__wrapper__title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}
.customers__wrapper__subtitle {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  color: #000;
}
.footer {
  background-color: #000;
  text-align: center;
  padding: 35px 170px 27px 170px;
}
.footer__list {
  display: inline-flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 27px;
}
.footer__text {
  color: #fff;
  opacity: 50%;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  /* margin-bottom: 27px; */
}
.footer__list__icon {
  width: 53px;
  height: 53px;
}
