* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
/* font-family: "Open Sans", sans-serif; */
.header {
  background-color: #000;
  padding: 22px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__img {
  max-width: 100%;
}
.header__logo {
  max-width: 87px;
  display: flex;
}
.nav__list {
  display: inline-flex;
  gap: 30px;
  list-style: none;
}
.nav__link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-transform: capitalize;
}

.banner {
  background-image: url(../img/bg-banner.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 306px 0 185px;
  position: relative;
  align-items: center;
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner .container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}
.banner__logo {
  max-width: 170px;
  margin-bottom: 73px;
}
.banner__title {
  max-width: 670px;
  margin-bottom: 97px;
  font-size: 48px;
  line-height: 100%;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.banner__title::after {
  content: "";
  display: block;
  width: 170px;
  border: 1px solid #fff;
  position: absolute;
  /* transform: translateY(55px); */
  left: 0;
  bottom: -55px;
}
.banner__text {
  max-width: 270px;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
.banner__btn {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  max-width: 270px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  padding: 20px 68px;
}
.banner__data {
  padding: 36px 50px 0 50px;
  background-color: #fff;
  max-width: 470px;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}
.banner__data .container {
  display: flex;
}
.banner__data__title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 75px;
  text-align: center;
}
.span {
  color: #ec7979;
}
.banner__form {
  display: flex;
  flex-direction: column;
  align-self: center;
  column-gap: 31px;
  margin-bottom: 75px;
}
.banner__form-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  padding: 16px 0 20px;
  color: #bdbdbd;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}
.banner__data-btn {
  width: 470px;
  background-color: #ec7979;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 100%;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  padding: 20px 0;
  text-align: center;
  border: none;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.media {
  background-color: #f5f5f5;
  padding: 32px 0 18px;
}
.media .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media__wrapper-text {
  max-width: 470px;
}
.media__title {
  margin-bottom: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: #333333;
}
.media__text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.media__link {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media__list {
  display: inline-flex;
  list-style: none;
  gap: 30px;
}
.awesome {
  padding: 100px 0;
}
.container__awesome {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.awesome__wrapper {
  display: flex;
  text-align: center;
  gap: 27px;
}
.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
  position: relative;
}
hr {
  width: 170px;
  border: 1px solid #ec7979;
  margin: 0 auto 40px;
}

.awesome__element {
  max-width: 371px;
}
.text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
  margin-bottom: 95px;
}
.awesome__wrapper-item {
  width: 91.86px;
  height: 91.61px;
  border: 1px solid #ec7979;
  color: #ec7979;
  border-radius: 50%;
  margin: 0 auto 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.awesome__text {
  color: #86878b;
  font-size: 18px;
  line-height: 21px;
}
.awesome__title {
  font-family: "Open Sans";
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 26px;
}

.pricing {
  padding: 82px 0;
  background-color: #f5f5f5;
  text-align: center;
}
/* .pricing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.pricing__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.pricing__line {
  margin: 0 auto 40px;
  width: 170px;
  border: 1px solid #ec7979;
}
.pricing__text {
  margin-bottom: 59px;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}
.pricing__wrapper {
  display: flex;
  column-gap: 30px;
}
.price {
  flex: 0 1 370px;
}
.price:last-child {
  margin-right: 0px;
}

.price__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  padding: 12px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__numder {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  padding: 28px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__text {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  padding: 13px 10px;
  background-color: #333333;
  border: 2px solid #f5f5f5;
}
.price__info {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
  padding: 13px 10px;
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
}

.customers {
  padding: 100px 0;
}
.container__customers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 170px;
}
/* .awesome__wrapper {
  display: flex;
  text-align: center;
  gap: 27px;
} */
.customers__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
hr {
  width: 170px;
  border: 1px solid #ec7979;
  margin: 0 auto 40px;
}
.customers__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
  margin-bottom: 83px;
}
.customers__wrapper {
  display: flex;
  gap: 27px;
  justify-content: space-between;
}
.customer {
  flex: 0 1 370px;
}

.customer__text {
  padding: 38px 25px;
  margin-bottom: 66px;
  background-color: #e2e2e2;
  border-radius: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  position: relative;
}
.customer__text::before {
  content: "";
  display: inline-block;
  border: 14px solid transparent;
  border-top: 14px solid #e2e2e2;
  position: absolute;
  left: 70px;
  top: 100%;
}
.customer__info {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.customer__wrapper-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  overflow: hidden;
}
.wrapper__img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.customer__content {
  display: block;
  unicode-bidi: isolate;
}
.customer__name {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}
.customer__job {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.design {
  background-image: url(../img/bg-design.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 0;
  position: relative;
  text-align: center;
}
.design::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.design .container {
  z-index: 1;
  position: relative;
}
.design__title {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}
.design__title::after {
  content: "";
  display: block;
  width: 170px;
  border: 1px solid #fff;
  position: absolute;
  left: 42%;
  top: 76px;
  /* transform: translateY(40px);
  transform: translateX(100%); */
}
.design__text {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 80px;
}
.design__btn {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  max-width: 370px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  padding: 20px 140px;
}

.contact {
  padding: 100px 0;
  text-align: center;
}
.contact .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 170px;
}
.contact__title {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}
.contact__title::after {
  content: "";
  display: block;
  width: 170px;
  border: 1px solid #ec7979;
  position: absolute;
  left: 40%;
  top: 76px;
}
.contact__text {
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  margin-bottom: 89px;
}
.contact__form {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.form__left {
  display: flex;
  flex-direction: column;
  column-gap: 50px;
}
.form__left:last-child {
  column-gap: 0;
}
.form__right {
  align-self: stretch;
}
.contact__form-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  padding: 20px 0 20px;
  color: #bdbdbd;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  max-width: 571px;
  margin-bottom: 50px;
  column-gap: 30px;
}
.contact__form-text:last-child {
  margin-bottom: 0;
}
.contact__form-ta {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  padding: 16px 0 20px;
  color: #bdbdbd;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  max-width: 569px;
  align-self: stretch;
  resize: none;
  padding: 0 0 192px;
}
.contact__btn {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  background-color: #ec7979;
  border: none;
  border-radius: 0;
  padding: 16px 84px;
  max-width: 370px;
}

.footer {
  background-color: #000;
  text-align: center;
  padding: 35px 0 27px;
}
.footer__list {
  display: inline-flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 27px;
}
.footer__text {
  color: #fff;
  opacity: 50%;
  font-size: 18px;
  line-height: 21px;
}

.footer__link {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
