* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.awesome {
  padding: 80px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.awesome__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 40px;
}

.awesome__divider {
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  margin: 0 auto 40px;
}

.awesome__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #86878b;
  margin-bottom: 92px;
  line-height: 21px;
}

.awesome__features {
  display: flex;
  gap: 30px;
}

.awesome__item {
  flex: 1;
}

.awesome__icon {
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  margin: 0 auto 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  color: #ec7979;
}

.awesome__item-title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 26px;
  color: #000;
}

.awesome__item-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

body {
    font-family: "Raleway", sans-serif;
}

.pricing {
    padding: 82px 0;
    background: #F5F5F5;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.pricing__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 42px;
    text-transform: uppercase;
}

.pricing__line {
    width: 170px;
    height: 1px;
    background: #EC7979;
    margin: 0 auto 40px;
}

.pricing__subtitle {
    color: #86878B;
    margin-bottom: 79px;
    line-height: 21px;
}

.pricing__cards {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.pricing-card {
    width: 100%;
    background: #fff;
}

.pricing-card__head {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    background: #333;
    color: #fff;
    padding: 12.5px;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #F5F5F5;
}

.pricing-card__price {
    background: #333;
    font-weight: 700;
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    padding: 28.5px 0;
    border-bottom: 1px solid #F5F5F5;
}

.pricing-card__label {
    background: #333;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 13.5px 0;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #F5F5F5;
}

.pricing-card__list {
    list-style: none;
}

.pricing-card__item {
    padding: 13.5px 0;
    border-top: 1px solid #F5F5F5;
    color: #86878B;
    font-size: 18px;
    line-height: 22px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #000;
    padding: 22px 0;
}

.header__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    font-weight: bold;
}

.logo {
    display: flex;
    max-width: 87px;
}

.axit__navig {
    display: flex;
    gap: 30px;
}

.navig__link {
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 19px;
}

.social {
    background: #f5f5f5;
}

.social__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    color: #333;
}

.social__text {
    font-size: 18px;
    color: #333;
    max-width: 400px;
    font-family: "Raleway", sans-serif;
}

.social__media {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.social__icon {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.footer {
    background: #000;
}

.footer__container {
    max-width: 1170px;
    padding: 35px 470px;
    margin: 0 auto;
    text-align: center;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 0 auto 28px;
}

.footer__icon {
    color: #fff;
    font-size: 22px;
}

.footer__date {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    color: rgba(217, 217, 217, 50%);
    max-width: 400px;
}

.customer__text::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 70px;
}

.customers{
    padding: 100px 0;
    text-align: center;
}

.customer__team{
    display: flex;
    justify-content: space-between;
}

.customer__bio{
    flex: 0 1 370px;
}

.customer__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 37px 25px 38px;
    margin-bottom: 66px;
    position: relative;
}

.customer__profil{
    text-align: left;
    display: flex; 
    column-gap: 30px; 
}

.customer__name{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 18px;
    color: #000;
}

.customer__specialist{
  font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
}

.image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}