*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;

}

.heading{
    margin-bottom: 92px;
}

.awesome{
     padding-top: 100px;
     padding-bottom: 100px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.awesome__item{
   
    display: inline-block;
    margin-right: 24px;
    max-width: 370px;
}

.awesome__wrapper-image{
    
    width: 92px;
    height: 92px;
    border: 1px solid #ec7979;
    border-radius: 50%;
    margin: 0 auto 24px;
    padding: 11px;
}

.heading__title{
    
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    line-height: 42px;
    text-transform: uppercase;
    
} 

.heading__text{
 
    font-size: 18px;
    color: #86878B;
    text-align: center;
    line-height: 21px;
    margin-bottom: 92px;
}
.awesome__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 26px;
    line-height: 33px;
}

.awesome__text{
   
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
}
.awesome__item:last-child{
    margin-right: 0;
}


.plans{
    background-color: #F5F5F5;
    padding: 82px 0 83px;
    text-align: center;
}

.plans__overview{
    margin-bottom: 79px;
}

.plans__title{
    color: #000000;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.plans__line{
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto 40px;
}

.planx__text{
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    font-weight: 400;
    
}



.plan__categories{
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    padding: 11px 0;
   
}

.plan__price{
     color: #FFFFFF;
     font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    background-color: #333333;
    padding: 27px 10px;
    border: 2px solid #F5F5F5;
  
}
.plan__description{
    color: #86878B;
     font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background-color: #333333;
    padding: 12px 0;
    border: 2px solid #F5F5F5;
   
}
.plan__list{
    list-style: none;
}

.plan__item{
     color: #86878B;
     font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background-color: #FFFFFF;
    padding: 12px 10px;
    border: 2px solid #F5F5F5;
    text-transform: capitalize;
   
}
.plan{
    display: inline-block;
    margin-right: 22px;
    max-width: 370px;
    width: 100%;
    max-width: 370px;
}
 .plan:last-child{
    margin-right: 0;
 }






.axit{
    background-color: #000;
    padding: 22px 0;
}
.axit__line{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
}

.axit__navig{
    display: flex;
    justify-content: space-around;
    max-width: 382px;
    width: 100%;
}
.axit__text{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
  
}




.social{
    background-color: #F5F5F5;
    padding: 32px 0 18px;
    text-align: left;
}
.social__container{
    display: flex;

}
.social__content{
    max-width: 470px;
}
.social__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 16px;
}
.social__text{
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
   color: #333333;
}
.social__media{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.icon{
    width: 70px;
    height: 70px;
}


.footer{
    background-color: #000;
    padding: 35px 0 27px;
    text-align: center;
}
.media{
    width: 53px;
    height: 53px;
}
.footer__media{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 28px;
    max-width: 600px;
}
.footer__date{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(217, 217, 217, 0.5);

}

.customer__text::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    display: inline-block;
    position: absolute;
    top: 179px;
    left: 70px;
}

.customers{
    padding: 100px 0;
    text-align: center;
}
.customer__team{
    display: flex;
    justify-content: space-between;
}
.customer__bio{
    max-width: 370px;
}
.customer__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 37px 25px 38px;
    margin-bottom: 66px;
    position: relative;
    
}
.customer__profil{
    text-align: left;
    display: flex; 
    column-gap: 30px; 
}
.customer__name{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 18px;
    color: #000;

}
.customer__specialist{
  font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.customer__wrapper-image{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}