@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
     font-family: "Raleway", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header*/
.header{
    padding: 20px;
    background-color:#000;
}

.header .container{
    display: flex;
    justify-content: space-between;
        align-items: center;
}

.header__menu{
    display: flex;
    gap:30px;
}

.menu__items{
    color: #fff;
    text-transform: capitalize; 
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
}

/*MAIN CONTENT*/
.section-header{
    margin-bottom: 93px;
}

.section-header__title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
    font-weight: 400;
}

.section-header__text{
    color: #86878B;
}

.section-header__underline, .awesome__wrapper-img{
    border:1px solid #EC7979;
}

.section-header__underline{
    width: 170px;
    margin: 0 auto 40px;
}

/*SOCIAL MEDIA*/

.media{
    background-color:#f5f5f5;
    padding: 31px 0px 14px;
}

.media .container{
    display: flex;
    gap: 30px;
}

.media__preview{
    max-width: 470px;
    width: 100%;
}

.preview__heder{
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.preview__text{
    font-size: 18px;
    color:#333;
    opacity: 0.4;
}

.media__links{
    display: flex;
    gap: 30px;
}

/*AWESOME*/

.awesome{
    padding: 100px 0;
    text-align: center;
}

.awesome__wrapper-img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center; 
    margin: 0 auto 24px;
}

.awesome__title{
    font-family: "Open Sans", sans-serif;
    text-transform:capitalize;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 26px;
}

.section-header__text, .awesome__text{
    font-size: 18px;
    line-height: 21px;
}

.awesome__content{
    display: flex;
    gap: 27px;
}

/*PRICE*/

.price{
    padding: 82px 0;
    background-color: #F5F5F5;
    text-align: center;
}

.price__plans{
    display: flex;
    gap: 30px;
}
.price__header{
    margin-bottom: 79px;
}

.plan{
    max-width: 370px;
    width: 100%;
}

.plan__name, .plan__features{
    text-transform: capitalize;
}

.plan__name, .plan__price{
    color: #fff;
}

.plan__name, .plan__options, .plan__price{
    background-color: #333;
    border: 2px solid #F5F5F5;
}
.plan__name{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    padding: 11px;
}

.plan__price{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 27px;
}
.plan__options, .plan__feature{
    padding: 14px 10px;
    font-size: 18px;
    line-height: 22px;
}

.plan__options{
    color:rgba(255, 255, 255, 0.5);
}

.plan__feature{
    list-style: none;
    color: #86878B;
    border: 2px solid #f5f5f5;
    background-color: #fff;
}

/*COSTOMERS*/
.customers{
    padding: 82px 0;
    text-align: center;
}

.customers__header{
    margin-bottom: 83px;
}

.reviews{
    display: flex;
    gap:30px;
}

.review__wrapper{
    max-width: 370px;
    width: 100%;
    background-color:#e2e2e2;
    border-radius:10px;
    padding: 38px 25px 37px;
    margin-bottom: 66px;
    position:relative;
}

.review__wrapper::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #e2e2e2;
    position: absolute;
    top:179px;
    left:70px;
}

.review__person{
    display: flex;
    gap: 30px;
    text-align: left;
}

.review__text{
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.person__icon  {
    width: 70px;
    height: 70px;
    border-radius:50%;
    overflow: hidden;
}

.person__img{
    width: 70px;
}

.person__name{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
}

.person__position{
    font-size: 18px;
}
/*FOOTER*/

.footer{
    background-color:#000;
    padding: 35px 0px 27px;
}

.footer__links{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 27px;
}

.footer__text{
    color:#d9d9d9;
    text-align: center;
}

