@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
     font-family: "Raleway", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header*/
.header{
    padding: 22px 0;
    background-color:#000;
}

.logo__link{
    display: flex;
    max-width: 87px;
}

.header .container{
    display: flex;
    justify-content: space-between;
        align-items: center;
}

.nav{
    display: flex;
    gap:30px;
}

.nav__link{
    color: #fff;
    text-transform: capitalize; 
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

/*MAIN CONTENT*/
.section-header{
    margin-bottom: 93px;
}

.section-header__title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
    font-weight: 400;
}

.section-header__text{
    color: #86878B;
}

.section-header__underline, .awesome__wrapper-img{
    border:1px solid #EC7979;
}

.section-header__underline{
    width: 170px;
    margin: 0 auto 40px;
}

/*SOCIAL MEDIA*/

.media{
    background-color:#f5f5f5;
    padding: 31px 0px 14px;
}

.media .container{
    display: flex;
    gap: 30px;
    align-items: center;
}

.media__preview{
    max-width: 470px;
    width: 100%;
}

.media__title{
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.media__text{
    font-size: 18px;
    color:#333;
    opacity: 0.4;
    line-height: 21px;
}

.media__links{
    display: flex;
    gap: 30px;
}

.media__link{
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

/*AWESOME*/

.awesome{
    padding: 100px 0;
    text-align: center;
}

.awesome__wrapper-img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center; 
    margin: 0 auto 24px;
}

.awesome__title{
    font-family: "Open Sans", sans-serif;
    text-transform:capitalize;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 26px;
}

.section-header__text, .awesome__text{
    font-size: 18px;
    line-height: 21px;
}

.awesome__content{
    display: flex;
    gap: 27px;
}

/*PRICE*/

.price{
    padding: 82px 0;
    background-color: #F5F5F5;
    text-align: center;
}

.price__plans{
    display: flex;
    gap: 30px;
}

.plan:hover{
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    position: relative;
    top: -20px;
}
.price__header{
    margin-bottom: 79px;

}

.plan{
    max-width: 370px;
    width: 100%;
}

.plan__name, .plan__features{
    text-transform: capitalize;
}

.plan__name, .plan__price{
    color: #fff;
}

.plan__name, .plan__options, .plan__price{
    background-color: #333;
    border: 2px solid #F5F5F5;
}
.plan__name{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    padding: 11px;
}

.plan__price{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 27px;
}
.plan__options, .plan__feature{
    padding: 14px 10px;
    font-size: 18px;
    line-height: 22px;
}

.plan__options{
    color:rgba(255, 255, 255, 0.5);
}

.plan__feature{
    list-style: none;
    color: #86878B;
    border: 2px solid #f5f5f5;
    background-color: #fff;
}

/*COSTOMERS*/
.customers{
    padding: 82px 0;
    text-align: center;
}

.customers__header{
    margin-bottom: 83px;
}

.reviews{
    display: flex;
    gap:30px;
}

.review{
    flex: 0 1 370px;
}

.review__wrapper{
    background-color:#e2e2e2;
    border-radius:10px;
    padding: 38px 25px 37px;
    margin-bottom: 66px;
    position:relative;
}

.review__wrapper::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #e2e2e2;
    position: absolute;
    top:100%;
    left:70px;
}

.review__person{
    display: flex;
    gap: 30px;
    text-align: left;
}

.review__text{
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.review__wrapper-img{
    width: 70px;
    height: 70px;
    border-radius:50%;
    overflow: hidden;
}

.review__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.review__name{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
}

.review__position{
    font-size: 18px;
    line-height: 21px;
}
/*FOOTER*/

.footer{
    background-color:#000;
    padding: 35px 0px 27px;
}

.footer__links{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 27px;
}

.footer__link{
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.footer__text{
    color:#d9d9d9;
    text-align: center;
}

/*Banner*/
.banner{
    padding: 306px 0 185px;
    background-image: url(../src/icon/image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.banner__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    z-index: 1;
    position: relative;
}

.banner__logo{
    width: 170px;
    max-height: 55px;
    margin-bottom: 73px;
    display: flex;
}

.banner__img{
    width: 100%;
}

.banner__title{
    margin-bottom: 55px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    color:#fff;
    text-transform: uppercase;
    position: relative;
    max-width: 670px;
}

.banner__underline{
    width: 170px;
    border: 1px solid #fff;
    margin-bottom: 42px;
}

.banner__text{
    color:#fff;
    margin-bottom: 42px;    
    font-size: 18px;
    line-height: 21px;
    max-width: 270px;
}

.banner__btn{
    font-family: "Open Sans", sans-serif;
    max-width: 270px;
    width: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    
}

.banner__form{
    height: 470px;
    max-width: 450px;
    width: 100%;
    background-color:#fff;
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.banner-form__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    text-transform:uppercase;
    margin: 36px 0 75px;
    color:#333
}

.banner-form__title--red{
    color:#EC7979;
}

.banner-form__input{
    font-family: "Open Sans", sans-serif;
    margin-bottom: 15px;
    max-width: 370px;
    width: 100%;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 16px 0px;
    font-size: 14px;
    line-height: 19px;
}



.banner-form__input::placeholder{
    color: #BDBDBD;
    font-family: "Open Sans", sans-serif;
}

.banner-form__input:focus {
    outline: none;
    border-color: #e74c3c;
    box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.1);
}



.banner-form__btn{
    background-color:#EC7979;
    color:#fff;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: auto;
    border: 0px;
    height: 60px;
    position: relative;
    top: 65px;
    left: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.banner-form__btn:hover {
    background-color: #c0392b;
    transform: t translate(-2px);
}




/*design*/

.design{
    padding: 70px 0;
    background-image: url(../src/icon/image2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.design::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.design__container{
    z-index: 1;
    position: relative;
}

.design__title{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color:#fff;
    text-transform: uppercase;
    position: relative;
}

.design__underline{
    width: 170px;
    border: 1px solid #fff;
    margin: 0 auto 40px;
}

.design__text{
    color:#fff;
    margin-bottom: 80px;    
    font-size: 18px;
    line-height: 21px;
}

.design__btn{
    font-family: "Open Sans", sans-serif;
    max-width: 370px;
    width: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
}
 /*CONTACT*/

 .contact{
    padding: 100px 0 146px;
    text-align: center;
}

.contact__header{
    margin-bottom: 89px;
}

.form__area {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex: 0 1 571px;
}

.contact-form__row {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex: 0 1 571px;
}

.form__place{
     display: flex;
    column-gap: 30px;
    margin-bottom: 50px;
}

.contact-form__input, .contact-form__textarea{
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
    width: 100%;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 16px 0px;
    font-size: 14px;
    line-height: 19px;
}

.contact-form__input::placeholder, .contact-form__textarea::placeholder{
    color: #BDBDBD;
    font-family: "Open Sans", sans-serif;
}

.contact-form__textarea{
    flex: 0 1 569px;
    resize: none;
    padding: 8px 0;

}
.contact-form__input:focus {
    outline: none;
    border-color: #e74c3c;
    box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.1);
}

.contact-form__input::placeholder {
    color: #adb5bd;
}


.contact-form__textarea:focus {
    outline: none;
    border-color: #e74c3c;
    box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.1);
}

.contact-form__textarea::placeholder {
    color: #adb5bd;

}


.contact-form__btn {
    display: block;
    font-family: "Open Sans", sans-serif;
    width: 370px;
    margin: 0 auto;
    padding: 15px;
    background-color: #EC7979;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-form__btn:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}



.banner__btn:hover, .design__btn:hover{
    background-color:#AB4949;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.banner__btn:active, .design__btn:active{
    background-color:#EC7979;
}

.media__img:hover, .footer__img:hover{
    fill: #EC7979;
}

.nav__link:hover{
    color: #EC7979;
}
