*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
}

.header{
    background-color: #000000;
}

.header__container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 22px 0;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 28px 0;
}

.header__link{
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFF;
    text-decoration: none;
}

.footer{
    background-color: #000000;
}

.footer__container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 35px 0 27px;
}

.footer__links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.footer__item{
    width: 53px;
    height: 53px;
    margin-bottom: 28px;
    list-style: none;
}

.footer__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
}

.footer__copy{
    font-size: 18px;
    line-height: 21px;
    color: rgba(217, 217, 217, .5);
    text-align: center;
    text-transform: capitalize;
}

.socials{
    background-color: #F5F5F5;
}

.socials__container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 32px 15px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.socials__media__title{
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.socials__media__text{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.socials__links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.socials__item{
    width: 70px;
    height: 70px;
    list-style: none;
}

.socials__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #CCCCCC;
}

.customers__container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 100px 15px;
    text-align: center;
}

.customers__tittle{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.customers__underline{
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto 40px;
}

.customers__info{
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-bottom: 83px;
}

.customers__wrap{
    display: flex;
    gap: 30px;
}

.customers__opinion-text{
    max-width: 370px;
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 38px 25px 37px;
    margin-bottom: 66px;
    position: relative;
}

.customers__opinion-text:after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 70px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.customers__text{
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.customers__users{
    display: flex;
    gap: 30px;
}

.customers__avatar{
    width: 70px;
    height: 70px;
}

.customers__avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.customers__name{
    text-align: left;
}

.customers__users-tittle{
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.customers__users-role{
    font-size: 18px;
    line-height: 21px;
}