* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    color: #000000;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #000000;
    padding: 22px 0;

}

.header__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    text-decoration: none;
    display: flex;
    max-width: 87px;
}

.header__logo:hover {
    transform: scale(1.05);
}

.header__nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
}

.header__nav-link {
    text-decoration: none;
    color: inherit;
}

.header__nav-item:hover {
    transform: translateY(-5px);
}

/* Раздел banner */
.banner {
    padding: 306px 0 185px;
    background-image: url(../assets/backgrounds/banner-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.banner .container {
    z-index: 1;
    position: relative;
}

.banner__content {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.banner__info {
    flex: 0 1 670px;
}

.banner__wrapper-logo {
    width: 170px;
    height: 55px;
    margin-bottom: 73px;
}

.banner__logo {
    width: 100%;
    height: 100%;
}

.banner__title {
    max-width: 670px;
    width: 100%;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 97px;
    text-transform: uppercase;
    position: relative;
}

.banner__title::after {
    content: "";
    display: block;
    width: 170px;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(55px);
}

.banner__text {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 270px;
    width: 100%;
    margin-bottom: 42px;
}

.button {
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.banner__button {
    max-width: 270px;
    width: 100%;
    padding: 15px 10px;
}

.register-form {
    background-color: #fff;
    flex: 0 1 470px;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(-20px);
}

.register-form__content {
    padding: 36px 50px 0;
}

.register-form__title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    text-align: center;
    margin-bottom: 75px;
}

.register-form__title--red {
    color: #EC7979;
}

.register-form__fields {
    margin-bottom: 75px;
}

.register-form__input {
    width: 100%;
    padding: 8px 0;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 32px;
    outline: none;
}

.register-form__input::placeholder {
    color: #BDBDBD;
    text-transform: capitalize;
}

.register-form__input:last-child {
    margin-bottom: 0;
}

.register-form__submit {
    width: 100%;
    background: #ec7979;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.register-form__submit:hover {
    transform: scale(1.05);
    background-color: #e91111;
}

/* Раздел media */
.media {
    background-color: #F5F5F5;
    padding: 31px 0 18px;
}

.media__flex-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
}

.media__info {
    max-width: 470px;
    width: 100%;
}

.media__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
    color: #333333;
}

.media__text {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.services__wrapper-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__wrapper-image--large {
    width: 70px;
    height: 70px;
}

.services {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
}

.services--margin-bottom-28 {
    margin-bottom: 28px;
}

.services__item:hover svg path {
    fill: #6ee0f9;
}

.services__item-image:hover {
    transform: scale(1.5);
}

/* Раздел awesome */
.awesome {
    padding: 109px 0;
}

.title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

.separator {
    width: 170px;
    border: 1px solid #EC7979;
    margin: 0 auto 40px;
}

.text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;

}

.text--margin-bottom-92 {
    margin-bottom: 92px;
}

.awesome__columns {
    text-align: center;
    display: flex;
    column-gap: 27px;
}

.awesome__column {
    flex: 0 1 371px;
}

.awesome__column:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.095);
}

.awesome__column:last-child {
    margin-right: 0;
}

.awesome__wrapper-icon {
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome__icon--keyboard {
    max-width: 66px;
    width: 100%;
}

.awesome__icon--lightning {
    max-width: 44px;
    width: 100%;
}

.awesome__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 26px;
}

.awesome__text {
    font-size: 18px;
    line-height: 21px;
}

/* Раздел pricing */

.pricing {
    background-color: #F5F5F5;
    padding: 82px 0 83px;

}

.text--margin-bottom-79 {
    margin-bottom: 79px;
}

.pricing__cards {
    text-align: center;
    display: flex;
    column-gap: 30px;
}

.pricing__card {
    flex: 0 1 370px;
}

.pricing__card:hover {
    transform: translateY(-20px);
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));

}

.pricing__card:last-child {
    margin-right: 0;
}

.pricing__tariff {
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    border: 2px solid #F5F5F5;
    padding: 11px 0;
}

.pricing__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    border: 2px solid #F5F5F5;
    background-color: #333333;
    padding: 27px 0;
}

.pricing__note {
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
    border: 2px solid #F5F5F5;
    padding: 12px 0;
}

.pricing__item {
    list-style: none;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 22px;
    color: #86878B;
    background-color: #FFFFFF;
    padding: 13px 0;
    border-bottom: 2px solid #F5F5F5;
}


/* раздел customers */
.customers {
    padding: 100px 0px;
}

.text--margin-bottom-83 {
    margin-bottom: 83px;
}

.title__separator::after {
    content: "";
    display: block;
    width: 170px;
    border: 1px solid #EC7979;
    margin: 40px auto;

}

.customers__bubble-speech {
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 38px 25px 37px;
    position: relative;
    margin-bottom: 66px;
}

.customers__bubble-speech:hover {
    transform: translateY(40px);
    cursor: pointer;
}

.customers__speech {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.customers__bubble-speech::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: calc(20% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.customers__cards {
    display: flex;
    column-gap: 30px;
}

.customers__card {
    flex: 0 1 370px;
}

.customers__profile {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.customers__wrapper-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.customers__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.customers__name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.customers__position {
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}

/* Раздел design */
.design {
    padding: 70px 0;
    background-image: url(../assets/backgrounds/design-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.design::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.design .container {
    z-index: 1;
    position: relative;
}

.design__title {
    color: #FFFFFF;
    margin-bottom: 80px;
    position: relative;
}

.design__title::after {
    content: "";
    display: block;
    width: 170px;
    border: 1px solid #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}

.design__text {
    color: #FFFFFF;
    margin-bottom: 80px;
}

.design__button {
    display: block;
    max-width: 370px;
    width: 100%;
    padding: 15px 10px;
    margin: 0 auto;
}

/* Раздел contact */
.contact {
    padding: 100px 0 146px;
}

.contact__title {
    position: relative;
    margin-bottom: 80px;
}

.contact__title::after {
    content: "";
    display: block;
    width: 170px;
    border: 1px solid #EC7979;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}

.text--margin-bottom-89 {
    margin-bottom: 89px;
}

.form__rows {
    display: flex;
    column-gap: 30px;
    margin-bottom: 50px;
}

.form__area {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex: 0 1 571px;
}

.form__input {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 8px 0 8px;
}

.form__input::placeholder {
    color: #BDBDBD;
    text-transform: capitalize;
}

.form__input:focus {
    outline: none;
}

.form__textarea {
    flex: 0 1 569px;
    resize: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding: 8px 0 8px;
}

.form__textarea:focus {
    outline: none;
}

.form__textarea::placeholder {
    color: #BDBDBD;
    text-transform: capitalize;
}

.form__submit {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    background-color: #EC7979;
    padding: 16px;
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #d61414;
    transform: scale(1.05)
}

/* Футер сайта*/

.footer {
    background-color: #000000;
    padding: 35px 0 27px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__footer--spaced .services {
    column-gap: 33px;
}

.services__wrapper-image--small {
    width: 53px;
    height: 53px;
}

.footer__copyright {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
    text-align: center;
}